USE [CRM2]
GO
/****** Object:  StoredProcedure [dbo].[SPGENERATE_CUSTOMER]    Script Date: 19.03.2022 13:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 ALTER PROC [dbo].[SPGENERATE_CUSTOMER]
 @COUNT AS INT=2500
 AS

 DECLARE @I AS INT=0
 WHILE @I<@COUNT
 BEGIN

 DECLARE @ID AS INT
 DECLARE @NAME AS VARCHAR(100)
 DECLARE @SURNAME AS VARCHAR(100)
 DECLARE @GENDER AS VARCHAR(1)
 DECLARE @BIRTHDATE AS DATE
 DECLARE @CITY AS VARCHAR(100)
 DECLARE @TOWN AS VARCHAR(100)
 DECLARE @NAMESURNAME AS VARCHAR(100)
 DECLARE @PHONECODE AS VARCHAR(10)
 DECLARE @TELNR AS VARCHAR(20)
 DECLARE @TCNO AS VARCHAR(11)

 

SET @TCNO=CONVERT(VARCHAR,ROUND(RAND()*999999999999,0))
IF  LEN(@TCNO)=7
	SET @TCNO=  SUBSTRING(REPLACE(CONVERT(VARCHAR,GETDATE(),108) ,':',''),2,4)+@TCNO
IF  LEN(@TCNO)=8
	SET @TCNO=  SUBSTRING(REPLACE(CONVERT(VARCHAR,GETDATE(),108) ,':',''),2,3)+@TCNO
IF  LEN(@TCNO)=9
	SET @TCNO=  SUBSTRING(REPLACE(CONVERT(VARCHAR,GETDATE(),108) ,':',''),4,2)+@TCNO
IF  LEN(@TCNO)=10
	SET @TCNO=  SUBSTRING(REPLACE(CONVERT(VARCHAR,GETDATE(),108) ,':',''),4,1)+@TCNO
IF LEN(@TCNO)=12
	SET @TCNO=SUBSTRING(@TCNO,2,11)
IF LEN(@TCNO)=13
	SET @TCNO=SUBSTRING(@TCNO,3,11)
IF LEN(@TCNO)=14
	SET @TCNO=SUBSTRING(@TCNO,4,11)

IF EXISTS(SELECT TCNO FROM CUSTOMERS WHERE TCNO=@TCNO)
BEGIN
	SET @TCNO=SUBSTRING(@TCNO,2,9)+SUBSTRING(@TCNO,9,2)
END
 
 SET @ID=RAND()*609
 SELECT @NAME=NAME_,@GENDER=GENDER FROM NAMES WHERE ID=@ID 
 SET @ID=RAND()*16000
 SELECT @SURNAME=SURNAME FROM SURNAMES WHERE ID=@ID 

 SET @ID=RAND()*995
 SELECT @PHONECODE=PHONECODE, @CITY=CITY,@TOWN=TOWN FROM CITY_DISTRICT WHERE ID=@ID 
 
 SET @ID=RAND()*(50*365)
 SET @BIRTHDATE=DATEADD(DAY,@ID,'19500101')


 SET @ID=RAND()*200000
 SELECT @TELNR=@PHONECODE+TELNR FROM TELEPHONES WHERE ID=@ID

 SET @NAMESURNAME=@NAME+' '+ @SURNAME 
 
 
 --SELECT @NAME,@SURNAME,@GENDER,@BIRTHDATE,@CITY,@TOWN
 
 INSERT INTO CUSTOMERS( NAMESURNAME, GENDER, BIRTHDATE, CITY, TOWN, NAME_, SURNAME,TELNR,TCNO)
 VALUES (@NAMESURNAME, @GENDER, @BIRTHDATE, @CITY, @TOWN, @NAME, @SURNAME,@TELNR,@TCNO)
SET @I=@I+1 	
 END

 EXEC SPGENERATE_CUSTOMER

 SELECT COUNT(*) FROM CUSTOMERS
 
 